div{
    padding: 30px;
    text-align:center;
    font-size:25px;
    box-sizing:border-box;

}
div p{
    background:white;
    margin:0;
    padding:15px;
}
.comment-box{
  border: 2px solid;
  padding: 20px;
  width: 300px;
  resize: both;
  overflow: auto;
}

.submit{
  border:none;
}
.footer{
  background:linear-gradient(90deg, rgba(51,0,117,1) 0%, rgba(64,0,148,1) 3%, rgba(36,1,82,1) 100%);
  opacity:.7;
  position:absolute;
  bottom:0;
  width:100%;
}
.footer-text{
  font-family: sans-serif;
  color:white;
  font-size: 15px;
letter-spacing: 5px;
text-transform: uppercase;
}
.content{
width:100%;
height:500px;
  align-content: center;
}
.content-img{
  background: url('https://res-1.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1509742641/joq7ymu4ggtakukkjtco.png');
  width:20%;
  height:400px;
  position:relative;
  left:750px;

  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;

}
.header{
  width:100%;
}
a{
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: serif;
  font-size: 14px;
margin-left: 40px;
text-decoration: none;
color:black;
}
form {
  padding:50px;
  display: block;

}
#label{
  display: block;
  font-size: 50px;
  font-family:sans-serif;
  opacity: .6;
}
.authorize input{
  margin-top: 10px;
  display: block;
  align-content: center;
  position: relative;
  left:750px;


}
.email{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right:100px;
  border-radius: 2px;
  border:1px solid black;
}
.email-confirm{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right:100px;
  border-radius: 2px;
  border:1px solid black;
}
form h6{
  margin-top:10px;
  font-size: 20px;
}
form textarea{
  margin-top:10px;
}
.submit{
  padding-top:10px;
  padding-bottom:10px;
  padding-left: 100px;
  padding-right: 100px;
  color:white;
  background:linear-gradient(90deg, rgba(51,0,117,1) 0%, rgba(64,0,148,1) 3%, rgba(36,1,82,1) 100%);
    opacity:.7;
}
